@model WebApplication.LogEquipos

@{
    ViewBag.Title = "Delete";  
}

<div class="modal-header ">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Eliminar</h4>
</div>


<div class="modal-body ">

    <h3>¿Está seguro de eliminar este registro de mantenimiento?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Fecha y hora
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
           Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        

        <dt>
           Nº de serie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Equipos.serialNumber)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

         <div class="modal-footer">
                <button class="btn btn-warning hidden-print" data-dismiss="modal">No</button>
                <input class="btn btn-success hidden-print" type="submit" value="Si" />
            </div>
    }
    </div>
</div>

