@model WebApplication.ModelosEquipos

@{
    ViewBag.Title = "Delete";  
}

<div class="modal-header ">
    <a type="button" class="close" data-dismiss="modal" aria-hidden="true" href="">&times;</a>
    <h3>¿Está seguro de anular este modelo?</h3>
</div>


<div class="modal-body ">

<div>
   
    <dl class="dl-horizontal">
        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>


        <dt>
            Tipo de equipo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoServicios.descripcion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

         <div class="modal-footer">
                <a class="btn btn-warning hidden-print" data-dismiss="modal">No</a>
                <input class="btn btn-success hidden-print" type="submit" value="Si" />
            </div>
    }
    </div>
</div>

