<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo es utilizado por el proceso de paquete/publicación de nuestro proyecto Web. Puede personalizar el comportamiento de este proceso
editando este archivo MSBuild. Para conocer más acerca de esto, visite http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>condomi.ddns.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>http://localhost</MSDeployServiceURL>
    <DeployIisAppPath>Condomi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CondomiBaseEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=CondomiBase;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=.;Initial Catalog=CondomiBase;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication.CondomiBaseEntities, WebApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IdentityDbContext" Order="2" Enabled="False">
          <Destination Path="Data Source=.;Initial Catalog=CondomiBase;Integrated Security=True;Application Name=EntityFramework" Name="Data Source=.;Initial Catalog=CondomiBase;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="WebApplication.Models.ApplicationDbContext, WebApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CondomiBaseEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/CondomiAppModel.csdl|res://*/CondomiAppModel.ssdl|res://*/CondomiAppModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=.;Initial Catalog=CondomiBase;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentityDbContext-Web.config Connection String">
      <ParameterValue>Data Source=.;Initial Catalog=CondomiBase;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>