@model WebApplication.RolUsuarios

@{
    ViewBag.Title = "Delete";  
}

<div class="modal-header ">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button> 
    <h3>¿Está seguro de resetear esta contraseña?</h3>
</div>


<div class="modal-body ">
    <h4>La nueva será: 123456</h4>
<div>
   
      

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model=>model.idUsuario)

         <div class="modal-footer">
                <button class="btn btn-warning hidden-print" data-dismiss="modal">No</button>
                <input class="btn btn-success hidden-print" type="submit" value="Si" />
            </div>
    }
    </div>
</div>

